h1= title

#players
/*  p.player
    input.name(placeholder:'Player')
    input.character(placeholder:'Character')
    input.vehicle(placeholder:'Vehicle')
    span.mode
      input#p1a(type:'radio', checked)
      label(for:'p1a') Automatic
      input#p1m(type:'radio')
      label(for:'p1m') Manual*/
      
p.submit
  button#addPlayer +
  button#start Start