!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/smoothness/style.css')
    link(rel='stylesheet', href='/css/style.css')
    
  body!= body
  
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/jquery.ui.js')
    script(type='text/javascript', src='/js/boo.js')